<h1>About</h1>



{{!--Just putting Privacy Policy here for Lauren to move and design however she wants  --}}

<h5>Karma Privacy Policy<h5>

<p>Karma will never sell, share or otherwise mishandle any of our users’ information.  We collect name, photo, location and email information via Facebook solely for enhancing the user experience of our app.</p>
