<nav>
    <div class="nav-wrapper">
        <a href="/">
            <img src="assets/images/karmalogowhite.png" width="5%">
        </a>
        <ul class="right">
            <li>
                <a href="favors">Favors</a>
            </li>
            <li>
                <a href="profile">Profile</a>
            </li>
            <li>
                <a class="btn signout">Sign Out</a>
            </li>
        </ul>
    </div>
</nav>

<main>
    <div class="container">
        <div class="row" id="active-favors">
            <div class="col s7">
                <img src="assets/images/aboutapp.jpg" width="80%">
            </div>
            <div class="col s5">
                <h3>About Our App</h3>

                <h5>We all need help sometimes. Karma Koins makes it easy!</h5>
                <p>Suppose you needed a hand with something. Maybe you have a closet that needs to be sorted through and you
                    can't get motivated to do it. Perhaps you need a friend to watch your kid for an hour so you can run
                    some errands. Going away on vacation?...Who is going to feed your cat? Karma to the rescue! Karma is
                    an app where a group of friends can ask for and give help. Each group member will be assigned Karma Koins
                    when they join. They will have the option to ask for assistance by entering the task they need help with,
                    the date, and how many Karma Koins it "pays". They can also see the list of tasks that others need done
                    and can select which ones they will help with. You can only ask for help if you have Karma Koins to offer
                    so no one gets to always ask for help and never help others.</p>
            </div>
        </div>
        <div class="row">
            <div class="col s12">
                <img src="assets/images/groupshot.jpg" width="100%">
            </div>
            <div class="col s3"></div>
            <div class="col s6">
                this is a paragraph about the group
            </div>
            <div class="col s3"></div>
        </div>
        <h5>Karma Privacy Policy<h5>
<p>Karma will never sell, share or otherwise mishandle any of our users’ information.  We collect name, photo, location and email information via Facebook solely for enhancing the user experience of our app.</p>
    </div>
</main>
<footer class="page-footer">
    <div class="container">
        <div class="row valign-wrapper">
            <div class="left-align col s6">
                <a href="/about">
                    <h3>About</h3>
                </a>
            </div>
            <div class="right-align col s6">
                <img src="assets/images/thechickslogo.png" width="30%">
                </br>© 2018 Copyright</div>
        </div>
    </div>
</footer>