<nav>
    <div class="nav-wrapper">
        <a href="/">
            <img src="assets/images/karmalogowhite.png" width="5%">
        </a>
        <ul class="right">
            <li>
                <a href="favors">Favors</a>
            </li>
            <li>
                <a href="profile">Profile</a>
            </li>
            <li>
                <a class="btn signout">Sign Out</a>
            </li>
        </ul>
    </div>
</nav>

<main>
    <div class="container">
        <div class="row" id="active-favors">
            <div class="col s7">
                <img src="assets/images/aboutapp.jpg" width="80%">
            </div>
            <div class="col s4">
                <h3>About Our App</h3>

                <h5>We all need help sometimes. Karma Koins makes it easy!</h5>
                <p>Suppose you needed a hand with something. Maybe you have a closet that needs to be sorted through and you
                    can't get motivated to do it. Perhaps you need a friend to watch your kid for an hour so you can run
                    some errands. Going away on vacation?...Who is going to feed your cat? Karma to the rescue! Karma is
                    an app where a group of friends can ask for and give help. Each group member will be assigned Karma Koins
                    when they join. They will have the option to ask for assistance by entering the task they need help with,
                    the date, and how many Karma Koins it "pays". Following in the true inspiration of Karma, the biggest
                    appeal of the app is the ability to give back. Users will be able to see the list of tasks that friends
                    need done and can select which ones they will help with. You can only ask for help if you have Karma
                    Koins, so the spirit is really about doing more than you take :)</p>
            </div>
            <div class="col s1"></div>
        </div>
        <div class="row" id="aboutchicks">
            <div class="col s12">
                <img src="assets/images/groupshot.jpg" width="100%">
            </div>
            <div class="col s2"></div>
            <div class="col s8">
                <h3>Meet the Team:</h3>
                <p>The Chicks is a group of 5 kickass ladies who were put together in a random group project during their Full
                    Stack Bootcamp program. Through this project they developed their first app, Karma, and grew as friends
                    and as a team.</br>
                    Doreen “Wiggy” is the lead. She takes a flat-structure approach to facilitating dialogue, always happy to let everyone voice
                    their ideas and then tie them together for the ultimate app. She is the quintessential float player.</br>
                    Janet is the master of the database, a real MySql pro. She excels in dedication and technical savvy. </br>
                    Katie is the Facebook Oath genius and delegator of routes. Express didn’t stand a chance with quick witted and think outside
                    the box Katie on the team. </br>
                    Spunky Helen handles handlebars like a champ- look Mom no hands! Serving as our second database to page coder, Helen hacks
                    with the best of them. </br>
                    Lauren is the Marketing guru of the group and the brains & beauty behind UX/UI Design. She would like to take a second to
                    thank her Mom for brainstorming a precursor idea of Karma in the summer of 2017. </p>
            </div>
            <div class="col s2"></div>
        </div>
        <div class="row center">
            <h6>Karma Privacy Policy
                <h6>
                    <p>Karma will never sell, share or otherwise mishandle any of our users’ information. We collect name, photo,
                        location and email information via Facebook solely for enhancing the user experience of our app.</p>
        </div>
    </div>
</main>
<footer class="page-footer">
    <div class="container">
        <div class="row valign-wrapper">
            <div class="left-align col s6">
                <a href="/about">
                    <h3>About</h3>
                </a>
            </div>
            <div class="right-align col s6">
                <img src="assets/images/thechickslogo.png" width="30%">
                </br>© 2018 Copyright</div>
        </div>
    </div>
</footer>