<nav>
    <div class="nav-wrapper">
        <a href="/">
            <img src="assets/images/karmalogowhite.png" width="5%">
        </a>
        <ul class="right">
            <li>
                <a href="favors">Favors</a>
            </li>
            <li>
                <a href="profile">Profile</a>
            </li>
            <li>
                <a class="btn signout">Sign Out</a>
            </li>
        </ul>
    </div>
</nav>

<main>
    <div class="container">
        <div class="row" id="active-favors">
            <div class="col s7">
                <img src="assets/images/aboutapp.jpg" width="80%">
            </div>
            <div class="col s4">
                <h3>About Our App</h3>

                <h5>We all need help sometimes. Karma Koins makes it easy!</h5>
                <p>Asking for help is never an easy task. It can leave you feeling embarrassed, stressed and frankly at times
                    like a loser that you needed to raise your hand. And yet, we have entered such a time where giving back
                    and returning favors has never been so in vogue…. From business ventures like TOMs to companies matching
                    monthly charity donations as employment perks, we haven’t seen a time where doing good for others has
                    been so trendy.</br>Karma Koins works to bridge those two concepts. We have developed a full stack app
                    where users can both ask and return favors- in exchange for karma koins. Need a friend to help you move?
                    Got stuck in a work meeting late and need someone to take Frodo the dog out for a walk? Post your request
                    to Karma and watch your friends line up to help. Feeling particularly supportive today? Or maybe you’re
                    bored and want something to do other than binge the latest Netflix original Series? Open up Karma and
                    see what your friends need help with. </p>
            </div>
            <div class="col s1"></div>
        </div>
        <div class="row" id="aboutchicks">
            <div class="col s12">
                <img src="assets/images/groupshot.jpg" width="100%">
            </div>
            <div class="col s2"></div>
            <div class="col s8">
                <h3>Meet the Team:</h3>
                <p>The Chicks is a group of 5 kickass ladies who were put together in a random group project during their Full
                    Stack Bootcamp program. Through this project they developed their first app, Karma, and grew as friends
                    and as a team.</br>
                    Doreen “Wiggy” is the lead. She takes a flat-structure approach to facilitating ideas, always happy to let everyone voice
                    their ideas and then tie them together for the ultimate app. She is the quintessential float player.</br>
                    Janet is the master of the database, a real MySql pro. She excels in dedication and technical savvy. </br>
                    Katie is the Facebook Oath genius and delegator of routes. Express didn’t stand a chance with quick witted and think outside
                    the box Katie on the team. </br>
                    Spunky Helen handles handlebars like a champ- look Mom no hands! Serving as our second database to page coder, Helen hacks
                    with the best of them. </br>
                    Lauren is the Marketing guru of the group and the brains & beauty behind UX/UI Design. She would like to take a second to
                    thank her Mom for brainstorming a precursor idea of Karma in the summer of 2017. </p>
            </div>
            <div class="col s2"></div>
        </div>
        <div class="row center">
        <h6>Karma Privacy Policy
            <h6>
                <p>Karma will never sell, share or otherwise mishandle any of our users’ information. We collect name, photo,
                    location and email information via Facebook solely for enhancing the user experience of our app.</p>
    </div>
    </div>
</main>
<footer class="page-footer">
    <div class="container">
        <div class="row valign-wrapper">
            <div class="left-align col s6">
                <a href="/about">
                    <h3>About</h3>
                </a>
            </div>
            <div class="right-align col s6">
                <img src="assets/images/thechickslogo.png" width="30%">
                </br>© 2018 Copyright</div>
        </div>
    </div>
</footer>