<h1>Favors</h1>
<nav>
    <div class="nav-wrapper">
        <h1 class="brand-logo right">Karma</h1>
        <ul id="nav-mobile" class="left hide-on-med-and-down">
            <li>
                <a href="/about">About</a>
            </li>
            <li>
                <a href="/favors">Favors</a>
            </li>
            <li>
                <a href="/profile">Profile</a>
            </li>
            <li>
                <a href="/signedin">Sign In</a>
            </li>
    </div>
</nav>

<main>
    <div class="container">
        <div class="row" id="active-favors">
            <div class="col s5">
                <img src="assets/images/goodvibes.jpg" width="90%">
            </div>
            <div class="col s6">
                <h3>Active Favors</h3>
                <div class="row" id="search"></div>
                <form>
                    <div class="input-field">
                        <input id="search" type="search" required>
                        <label class="label-icon" for="search">
                            <i class="material-icons">search</i>
                        </label>
                        <i class="material-icons">close</i>
                    </div>
                </form>
                <ul>
                    <lh id="favor">{{#each activeFavor}}
                        <li class="activeFavors">
                            <p class="label"> {{this.favor_name}} </p>
                            <p class="label"> {{this.favor_price}} </p>
                            <p><a href="/favorsdetail/:{{this.id}}">Link to more Info</a></p>
                        </li>
                    </lh>
                    {{/each}}
                </ul>
            </div>
        </div>
        <div class="col s1"></div>
        <div class="row" id="ask-favors">
            <div class="col s1"></div>
            <div class="col s10">
                <h3 style="color:#42A5F5">Ask a Favor!</h3>
                <hr>
            </div>
            <div class="col s1"></div>
        </div>

        <div class="row" id="favors-form-row">
            <div class="col s1"></div>
            <div class="col s5">
                <h5>We all need help sometimes. Karma Koins makes it easy!</h5>
                <p>Use the form to the right to request a favor and send it off to your group.
                    </br>Need inspiration on how to ask? No worries!</br>You can be a specific or general as you would like
                    when asking favors of your friends. Just keep it clean, and positive!</br>As for compensation, we think
                    the bigger the favor, the more Karma Koins should be awarded. While you are allowed to set the amount
                    of Karma Koins you’re willing to deal, generosity is a keystone of Karma. </br>Don’t worry about running
                    out of Koins, you can always complete more favors for your friends to get them back.</br>
                    </br>Types of favors we’ve come across:</p>
                <ul>
                    <li>*Cough* I’m sick, run to the store for meds and food for me?
                        <em>15 Koins</em>
                    </li>
                    </br>
                    <li>NO! My meeting is running hella late, can you take my dog for a walk?
                        <em>25 Koins</em>
                    </li>
                    </br>
                    <li>Take me to the airport :D
                        <em>50 Koins</em>
                    </li>
                    </br>
                    <li>I just don’t like cleaning. Come clean my apartment. Thnx
                        <em>100 Koins</em>
                    </li>
                    </br>
                    <li>I’m sad today. Please just come love me. Bring Pizza.
                        <em>5 Koins</em>
                    </li>
                    </br>
                </ul>
                <p>We hope this helped in figuring out the types of favors Karma deems acceptable.
                    <em>Please stick to our mottos of clean and positive or we will have to revoke your request :|</em>
                </p>
            </div>
            <div class="col s1"></div>
            <div class="col s4">
                <div class="newFavors">
                    <form class="create-form">
                        <div class="form-group">
                            <input type="text" id="newFavorName" name="newFavorName" class="textarea_msg" placeholder="Favor Name">
                            <input type="text" id="newFavorDesc" class="materialize-textarea"  placeholder="Enter Favor Description here">
                            {{!-- <textarea id="newFavorDesc" name="newFavorDesc" ></textarea> --}}
                            {{!-- <label for="newFavorDescription">Favor Description</label> --}}

                            <input type="text" id="newFavorPrice" name="newFavorPrice" class="textarea_msg" placeholder="Number of Karma Koins offered">

                            <input id="calendarSection" name="newFavorDateandTime" placeholder="newFavorDateandTime">
                        </div>
                        <button id="submitBtn" class="btn" type="submit" name="action">Submit
                            <i class="material-icons right">send</i>
                        </button>
                    </form>
                </div>
            </div>
            <div class="col s1"></div>
        </div>
    </div>

    </div>
</main>
<footer class="page-footer">
    <div class="container">
        <div class="row">
            <div class="col l6 s12">
                <h5>Footer Content</h5>
                <p>You can use rows and columns here to organize your footer content.</p>
            </div>
            <div class="col l4 offset-l2 s12">
                <h5>Links</h5>
                <ul>
                    <li>
                        <a href="#!">Link 1</a>
                    </li>
                    <li>
                        <a href="#!">Link 2</a>
                    </li>
                    <li>
                        <a href="#!">Link 3</a>
                    </li>
                    <li>
                        <a href="#!">Link 4</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="footer-copyright">
        <div class="container">
            © 2014 Copyright Text
            <a class="right" href="#!">More Links</a>
        </div>
    </div>
</footer>