<nav>
    <div class="nav-wrapper">
        <a href="#" class="brand-logo right">Karma</a>
        <ul id="nav-mobile" class="left hide-on-med-and-down">
            <li>
                <a href="/about">About</a>
            </li>
            <li>
                <a href="/favors">Favors</a>
            </li>
            <li>
                <a href="/profile">Profile</a>
            </li>
            <li>
                <a href="/signedin">Sign In</a>
            </li>
        </ul>
    </div>
</nav>

<main>
    <div class="container">
        <div class="row center" id="landing">
            <div class="fb-login-button" data-max-rows="1" data-size="large" data-button-type="continue_with" data-show-faces="false"
                data-auto-logout-link="true" data-use-continue-as="true"></div>
            <h1>Karma</h1>
            <div class="col s12 center" id="button">
                <a id="start" class="btn">
                    <i class="material-icons right">favorite</i>Get Started</a>
            </div>
        </div>


        <div class="row center" id="info">
            <div class="col s3 center">
                <i class="large material-icons">thumb_up</i>
                <h3>Connect with your friends</h3>
            </div>
            <div class="col s1 center"></div>
            <div class="col s3 center">
                <i class="large material-icons">mood_bad</i>
                <h3>Reach out when in need of a favor</h3>
            </div>
            <div class="col s1 center"></div>
            <div class="col s3 center">
                <i class="large material-icons">mood</i>
                <h3>Help others out when you’re free!</h3>
            </div>
        </div>
    </div>
</main>
<footer class="page-footer">
    <div class="container">
        <div class="row">
            <div class="col l6 s12">
                <h5>Footer Content</h5>
                <p>You can use rows and columns here to organize your footer content.</p>
            </div>
            <div class="col l4 offset-l2 s12">
                <h5>Links</h5>
                <ul>
                    <li>
                        <a href="#!">Link 1</a>
                    </li>
                    <li>
                        <a href="#!">Link 2</a>
                    </li>
                    <li>
                        <a href="#!">Link 3</a>
                    </li>
                    <li>
                        <a href="#!">Link 4</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="footer-copyright">
        <div class="container">
            © 2014 Copyright Text
            <a class="right" href="#!">More Links</a>
        </div>
    </div>
</footer>