<nav>
    <div class="nav-wrapper">
        <h1 class="brand-logo right">Karma</h1>
        <ul id="nav-mobile" class="left hide-on-med-and-down">
            <li>
                <a href="/about">About</a>
            </li>
            <li>
                <a href="/favors">Favors</a>
            </li>
            <li>
                <a href="/profile">Profile</a>
            </li>
            <li>
                <a href="/signedin">Sign In</a>
            </li>
        </ul>
    </div>
</nav>

<main>
    <div class="container">
        <div class="row center" id="landing">
            <h1>Karma</h1>
            <div class="fb-login-button" 
                data-max-rows="1" 
                data-size="large" 
                data-button-type="continue_with" 
                data-show-faces="false"
                data-auto-logout-link="true" 
                data-use-continue-as="true" 
                data-scope="public_profile,email"
                onlogin="facebookLogInCallback">
            </div>
        </div>


        <div class="row center" id="point-one">
            <div class="col s8 left" id="orange"><img src="assets/images/community.jpeg" width="80%"></div>
            <div class="col s4 right">
                <i class="medium material-icons">thumb_up</i>
                <h3>Connect with your community by signing up with Facebook and start exchanging good deeds for Karma Koins.</h3>
            </div>
        </div>
        <div class="row center" id="point-two">
            <div class="col s4 left">
                <i class="medium material-icons">mood_bad</i>
                <h3>Need a favor? Don’t be shy, that’s what we’re here for! Ask your community for help with a chore, errand, or just some QT time and watch your friends line up.</h3>
            </div>
            <div class="col s8 right" id="orange"><img src="assets/images/help.jpg" width="80%"></div>
        </div>
        <div class="row center" id="point-three">
            <div class="col s4 left" id="orange"><img src="assets/images/altruism.jpg" width="40%"></div>
            <div class="col s4 center">
                <i class="medium material-icons">mood</i>
                <h3>Access your altruistic side and pay it forward. Koins are meant to be exchanged so it’s important to grant favors as much as you ask!</h3>
            </div>
            <div class="col s4 right" id="orange"><img src="assets/images/cat.jpg" width="40%"></div>
        </div>
    </div>
</main>
<footer class="page-footer">
    <div class="container">
        <div class="row">
            <div class="col l6 s12">
                <h5>Footer Content</h5>
                <p>You can use rows and columns here to organize your footer content.</p>
            </div>
            <div class="col l4 offset-l2 s12">
                <h5>Links</h5>
                <ul>
                    <li>
                        <a href="#!">Link 1</a>
                    </li>
                    <li>
                        <a href="#!">Link 2</a>
                    </li>
                    <li>
                        <a href="#!">Link 3</a>
                    </li>
                    <li>
                        <a href="#!">Link 4</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="footer-copyright">
        <div class="container">
            © 2014 Copyright Text
            <a class="right" href="#!">More Links</a>
        </div>
    </div>
</footer>