<h1>Profile</h1>
<nav>
    <div class="nav-wrapper">
        <h1 class="brand-logo right">Karma</h1>
        <ul id="nav-mobile" class="left hide-on-med-and-down">
            <li>
                <a href="/about">About</a>
            </li>
            <li>
                <a href="/favors">Favors</a>
            </li>
            <li>
                <a href="/profile">Profile</a>
            </li>
            <li>
                <a href="/signedin">Sign In</a>
            </li>
        </ul>
    </div>
</nav>

<main>
    <div class="container" id="profile">
        <div class="row" id="profile-info">
            <div class="col s12">
                <img src="assets/images/goodvibes.jpg" width="10%">
            </div>
            <div class="col s12">
                <h2>First Name, Last Name</h2>
                <h3>Location, ST</h3>
            </div>
            <div class="col s12">
                <h4>Karma Points: POINTS</h4>
                <h4>Total Favors Asked: NUMBER</h4>
                <h4>Total Favors Returned: NUMBER</h4>
            </div>
        </div>
    </div>
    <div class="container" id="profile-favors">
        <div class="row">
            <div class="col s1"></div>
            <div class="col s4" id="asked-completed">
                <h4>Favors Asked Completed</h4>
                <ul>
                    <li>*Cough* I’m sick, run to the store for meds and food for me?
                        <em>15 Koins</em>
                    </li>
                    </br>
                    <li>NO! My meeting is running hella late, can you take my dog for a walk?
                        <em>25 Koins</em>
                    </li>
                </ul>
            </div>
            <div class="col s2"></div>
            <div class="col s4" id="asked-pending">
                <h4>Favors Asked Pending</h4>
                <ul>
                    <li>*Cough* I’m sick, run to the store for meds and food for me?
                        <em>15 Koins</em>
                    </li>
                    </br>
                    <li>NO! My meeting is running hella late, can you take my dog for a walk?
                        <em>25 Koins</em>
                    </li>
                </ul>
            </div>
            <div class="col s1"></div>
        </div>
        <div class="row">
            <div class="col s1"></div>
            <div class="col s4" id="returned-completed">
                <h4>Favors Returned Completed</h4>
                <ul>
                    <li>*Cough* I’m sick, run to the store for meds and food for me?
                        <em>15 Koins</em>
                    </li>
                    </br>
                    <li>NO! My meeting is running hella late, can you take my dog for a walk?
                        <em>25 Koins</em>
                    </li>
                </ul>
            </div>
            <div class="col s2"></div>
            <div class="col s4" id="returned-pending">
                <h4>Favors Returned Pending</h4>
                <ul>
                    <li>*Cough* I’m sick, run to the store for meds and food for me?
                        <em>15 Koins</em>
                    </li>
                    </br>
                    <li>NO! My meeting is running hella late, can you take my dog for a walk?
                        <em>25 Koins</em>
                    </li>
                </ul>
            </div>
            <div class="col s1"></div>
        </div>
    </div>
</main>
<footer class="page-footer">
    <div class="container">
        <div class="row">
            <div class="col l6 s12">
                <h5>Footer Content</h5>
                <p>You can use rows and columns here to organize your footer content.</p>
            </div>
            <div class="col l4 offset-l2 s12">
                <h5>Links</h5>
                <ul>
                    <li>
                        <a href="#!">Link 1</a>
                    </li>
                    <li>
                        <a href="#!">Link 2</a>
                    </li>
                    <li>
                        <a href="#!">Link 3</a>
                    </li>
                    <li>
                        <a href="#!">Link 4</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="footer-copyright">
        <div class="container">
            © 2014 Copyright Text
            <a class="right" href="#!">More Links</a>
        </div>
    </div>
</footer>