<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Karma | The Chicks</title>
    <!-- Link to favicon -->
    <link rel="icon" type="image/png" href="assets/images/karmalogodropshaddow.png">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="https://fonts.googleapis.com/css?family=Oswald" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Sedgwick+Ave+Display" rel="stylesheet">
    <link rel="stylesheet" href="assets/css/style.css">
    <script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
    <link rel="stylesheet" type="text/css" href="https://npmcdn.com/flatpickr/dist/themes/material_blue.css">
    <script src="https://code.jquery.com/jquery.js"></script>
    <script src="assets/js/favors.js"></script>
    <script src="assets/js/facebookconfig.js"></script>
    <script src="https://connect.facebook.net/en_US/sdk.js" id='facebook-jssdk'></script>
</head>

<body>
    {{{ body }}}
</body>

</html>
</html>